body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 153, 153);
    background-image: url(../Imagens/mix.jpg);
    background-size: cover;
    
}

#container {

    border: solid red;
    width: 85%;
    margin: 0 auto;
    min-width: 720px;
    max-width: 1280px; 

}


.texto-header {
    
    background-image: url(../Imagens/banner_topo.jpg);
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: linen;
    margin-bottom: 5px;
    background-color: rgb(13, 27, 68);
    

}

.menu-lateral {
    
    background-color: rgb(27, 43, 90);
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    color: seashell;
}

.menu-lateral ul {

    list-style-type: none;
}

.menu-lateral a {

    text-decoration: none;
    color: seashell;
}

.corpo {

    width: 75%;
    text-align: center;
    float: right;
}


  #rodape {

    background-color: rgb(27, 43, 90);
    text-align: center;
    padding: 5px;
    clear: both;
    color: seashell;
  }